CMakeCache.txt
CMakeFiles/
Makefile
challenge12
cmake_install.cmake
CTestTestfile.cmake
*_test
googletest/
lib/
*.a
main_tests
Section13Material
main
ipch
Section-15-Inheritance-Source-code.zip
Section15-Provided
**/src/template
**/src/main
**/.DS_Store
**/test/test_runner
